body{
  background-image: url('https://img.freepik.com/free-photo/flat-lay-vegetables-composition-with-copy-space_23-2148655327.jpg?t=st=1705599898~exp=1705600498~hmac=815abb10b875e3a94563b966798a3b19ca214428bf231e3c5669d977e79c24f6');
 background-repeat: no-repeat;
 background-size: cover;
}